/* frame.css - 사이트의 프레임(상단 header 영역과 하단 footer 영역의 CSS 스타일 지정 */




/* footer 정보 영역 속성 */
.footer__info {
  color: gray;
  font-size: 0.8rem;
  font-family: 'KCCChassam';
}
/* 하단영역 마스코트 위치설정 */
.mascot {
  margin-left: auto;
  width: 250px;
}
/* 하단영역 카피라이트 문구 */
.footer__copyright {
  text-align: center;
  font-size: 0.8rem;
  color: gray;
  font-family: 'KCCChassam';
}